<?xml version="1.0"?>
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="port_name" default="/dev/ttyUSB0" />
  <xacro:arg name="ros2_control_type" default="open_manipulator_x_position" />

  <xacro:include filename="$(find open_manipulator_description)/gazebo/open_manipulator_x.gazebo.xacro" />

  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator_x/open_manipulator_x_arm.urdf.xacro" />

  <xacro:include filename="$(find open_manipulator_description)/ros2_control/$(arg ros2_control_type).ros2_control.xacro" />

  <link name="world"/>

  <joint name="$(arg prefix)world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="$(arg prefix)link1"/>
  </joint>

  <xacro:open_manipulator_x prefix="$(arg prefix)" />
  <xacro:open_manipulator_x_gazebo prefix="$(arg prefix)" />

  <xacro:open_manipulator_x_system
    name="OpenManipulatorXSystem" prefix="$(arg prefix)" use_sim="$(arg use_sim)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    port_name="$(arg port_name)"/>

  <!-- <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find open_manipulator_bringup)/config/open_manipulator_x/hardware_controller_manager.yaml</parameters>
    </plugin>
  </gazebo> -->

  <gazebo>
    <plugin name="gz::sim::systems::JointStatePublisher"
      filename="gz-sim-joint-state-publisher-system">
    </plugin>

    <plugin name="gz::sim::systems::JointPositionController"
      filename="gz-sim-joint-position-controller-system">
      <joint_name>joint1</joint_name>
      <!-- <topic>/model/open_manipulator_x/joint/joint1/0/cmd_pos</topic> -->
      <p_gain>2.0</p_gain>
      <i_gain>0.0</i_gain>
      <d_gain>0.1</d_gain>
      <i_max>1</i_max>
      <i_min>-1</i_min>
      <cmd_max>10.0</cmd_max>
      <cmd_min>-10.0</cmd_min>
    </plugin>
    <plugin name="gz::sim::systems::JointPositionController"
      filename="gz-sim-joint-position-controller-system">
      <joint_name>joint2</joint_name>
      <!-- <topic>/model/open_manipulator_x/joint/joint2/0/cmd_pos</topic> -->
      <p_gain>2.0</p_gain>
      <i_gain>0.0</i_gain>
      <d_gain>0.1</d_gain>
      <i_max>1</i_max>
      <i_min>-1</i_min>
      <cmd_max>10.0</cmd_max>
      <cmd_min>-10.0</cmd_min>
    </plugin>
    <plugin name="gz::sim::systems::JointPositionController"
      filename="gz-sim-joint-position-controller-system">
      <joint_name>joint3</joint_name>
      <!-- <topic>/model/open_manipulator_x/joint/joint3/0/cmd_pos</topic> -->
      <p_gain>2.0</p_gain>
      <i_gain>0.0</i_gain>
      <d_gain>0.1</d_gain>
      <i_max>1</i_max>
      <i_min>-1</i_min>
      <cmd_max>10.0</cmd_max>
      <cmd_min>-10.0</cmd_min>
    </plugin>
    <plugin name="gz::sim::systems::JointPositionController"
      filename="gz-sim-joint-position-controller-system">
      <joint_name>joint4</joint_name>
      <!-- <topic>/model/open_manipulator_x/joint/joint4/0/cmd_pos</topic> -->
      <p_gain>2.0</p_gain>
      <i_gain>0.0</i_gain>
      <d_gain>0.1</d_gain>
      <i_max>1</i_max>
      <i_min>-1</i_min>
      <cmd_max>10.0</cmd_max>
      <cmd_min>-10.0</cmd_min>
    </plugin>
    <plugin name="gz::sim::systems::JointPositionController"
      filename="gz-sim-joint-position-controller-system">
      <joint_name>gripper_left_joint</joint_name>
      <!-- <topic>/model/open_manipulator_x/joint/gripper_left_joint/0/cmd_pos</topic> -->
      <p_gain>2.0</p_gain>
      <i_gain>0.0</i_gain>
      <d_gain>0.1</d_gain>
      <i_max>1</i_max>
      <i_min>-1</i_min>
      <cmd_max>10.0</cmd_max>
      <cmd_min>-10.0</cmd_min>
    </plugin>

  </gazebo>

</robot>
